@import "tailwindcss";

:root {
  --color-light-peach: #f1f4f9;
  --color-dark-blue: #261fb3;
  --color-darker-blue: #161179;
  --color-darkest-blue: #0c0950;
}

body {
  color: var(--color-darker-blue);
  background-color: var(--color-light-peach);
  font-family: "Poppins", sans-serif;
}
